body {
    font-family: 'Courier New', Courier, monospace;
}
div {
    text-align: center;
    float: left;
}
h1 {
    background-color: darkslategray;
    color: aqua;
}
#lat_izq, #lat_der {
    width: 20%;
}
#centro {
    width: 60%;
}